/url_shortener/venv/
.DS_Store
url_shortener/.idea/inspectionProfiles/profiles_settings.xml
url_shortener/.idea/inspectionProfiles/Project_Default.xml
url_shortener/.idea/misc.xml
url_shortener/.idea/modules.xml
url_shortener/.idea/url_shortener.iml
url_shortener/.idea/vcs.xml
url_shortener/.idea/workspace.xml
/.env
url_shortener/.env
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/django.iml
