<!DOCTYPE html>
<html lang="EN">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'english_dictionary/styles.css' %}>
    <title>Word</title>
</head>
<body>
<div class="wrap">
   <div class="search">
     <form action="./word.html">
         <label>
             <input type="text" name="search" class="searchTerm" placeholder="Input Your Word Here">
         </label>
         <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </form>
   </div>

   <h3>Meaning: {{meaning}}</h3>

   <h3>
       Synonyms: {% for synonym in synonyms %}
       {{synonym}},
       {% endfor %}
   </h3>


   <h3>
       Antonyms: {% for antonym in antonyms %}
       {{antonym}},
       {% endfor %}
   </h3>

</div>
</body>
</html>>